{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "comma-dangle": "warn",
        "no-unused-vars": [
            "error",
            {
                "vars": "local",
                "args": "none"
            }
        ]
    }
}
