html {
    font-size: 80%;
}

* {
    box-sizing: border-box;
}

.form-main {
    height: 78vh;
    box-sizing: border-box;
    margin: 20px auto;
    clear: both;
    max-width: 400px;
    padding-bottom: 20px;
}

.form-main ::-webkit-scrollbar {
    display: none;
}

.form-main a {
    margin-left: 20px;
}

.form-main legend {
    font-weight: 700;
    color: #101d2c;
    text-align: center;
}

.btn-primary {
    font-size: 1.6rem;
    text-align: center;
    padding: 1.2rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    border-radius: 15px;
    border: 0;
}

.fixed {
    position: fixed;
    margin-top: 30px;
    bottom: 0;
    right: 0;
}

.advert form {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 60%;
    margin: auto;
}

.advert h3 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    color: #101d2c;
}

.advert form label {
    display: block;
}

.advert form p {
    margin: 0;
}

.advert form .full {
    grid-column: 1 / 3;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-upload {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    margin: auto;
    font-weight: 400;
}

.upload-btn-wrapper input[type=file] {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@media(max-width:35rem) {
    .advert form {
        clear: both;
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 100px;
    }
}

@media(min-width:600px) {
    .advert, .advert form {
        clear: both;
        padding-bottom: 50px;
    }
}

.modal {
    display: none;
    clear: both;
    position: absolute;
    z-index: 1;
    padding-top: 1%;
    top: 0;
    left: 20px;
    right: 0;
    margin: auto;
    background: #fff;
}

.modal form {}

.close {
    color: #cf2525;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20%;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
