html {
    font-size: 80%;
}

.form-main {
    height: 78vh;
    box-sizing: border-box;
    margin: 20px auto;
    clear: both;
    max-width: 400px;
    padding-bottom: 20px;
}

.form-main ::-webkit-scrollbar {
    display: none;
}

.form-main a {
    margin-left: 20px;
}

.form-main legend {
    font-weight: 700;
    color: #101d2c;
    text-align: center;
}

.btn-primary {
    font-size: 1.6rem;
    text-align: center;
    padding: 1.2rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    border-radius: 15px;
    border: 0;
}

.fixed {
    position: fixed;
    margin-top: 30px;
    bottom: 0;
    right: 0;
    /* z-index: -1; */
}
