/*
#3F4251  -->light blueish
#C47B63  -->reddish
#C69963  -->brownish
#B3A296  --> whitish
#101D2C  --> deep blue
*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 60%;
}

a {
    color: #fff;
}

a .logo {
    color: #B28451;
    margin-top: 10px
}

a.logo span {
    color: #3F4251;
}

/* header */

.header {
    background-color: #C69963;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    font-size: 100%;
    position: absolute;
    top: 0;
    margin-bottom:20%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #C69963;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-size: 1.5em;
}

.header li a:hover, .header .menu-btn:hover {
    background-color: #f4f4f4;
    color:#C69963;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 16px 20px;
    text-decoration: none;
    background: #C69963;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    #banner {
        clear: both;
        background-size: auto;
    }
}

.container {
    clear: both;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 62.5em) {
    .container {
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
}

@media only screen and (max-width: 50em) {
    .container {
        grid-template-rows: 6rem calc(vh - 6rem);
    }
}

/* banner */

.heading {
    clear: both;
    background: #101d2c;
    color: #f4f4f4;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 15px;
    text-transform: uppercase;
}

#banner {
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 255, 0.2), rgba(98, 98, 240, 0.178)), url("../img/headerbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-form {
    clear: both;
    max-width: 500px;
    text-align: center;
    padding: 10px 20px;
    background: #fff;
    margin: 100px auto;
    padding: 20px;
    position: absolute;
    margin: auto;
    border-radius: 5px;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="text"], input[type="email"], input[type="password"] {
    background: #d2d9dd;
}
#buttons input[type="text"] {
    width: 100px;
}

/* --------end of banner----- */

.btn {
    background-color: #c69963;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
}

.btn-delete {
    background-color: #be1010;
    color: #fff;
    border: none;
    border-radius: 5%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.2rem 2rem;
    cursor: pointer;
    transition: all .2s;
    margin: 10px;
}

.btn:hover {
    background-color: #B28451;
}

.homes {
    grid-column: center-start / center-end;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home {
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
}

.home-img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
}

.home-name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
}

.home-location, .home-rooms {
    margin-top: 2.5rem;
}

.home-location, .home-rooms, .home-area, .home-price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.home-location svg, .home-rooms svg, .home-area svg, .home-price svg {
    fill: #c69963;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.home-btn {
    grid-column: 1 / -1;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #0b0c0c;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 3;
    font-size: 1.5rem;
}

footer p a {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    color: #c69963;
    background: #f4f4f4;
}
